services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD="${DB_PASSWORD}"
    ports:
      - "1433:1433"
    volumes:
      - meme_sql_data:/var/opt/mssql

  backend:
    build:
      context: ./backend/MemeCreator.Api
      dockerfile: MemeCreator.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=${CONNECTION_STRING};
    ports:
      - "5000:8080"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    depends_on:
      - backend

volumes:
  meme_sql_data:
